/* Header */
.Mp_Hdr {
    background: #276da3;
    background: -moz-linear-gradient(top, #276da3 0%, #004174 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#276da3), color-stop(100%,#004174));
    background: -webkit-linear-gradient(top, #276da3 0%,#004174 100%);
    background: -o-linear-gradient(top, #276da3 0%,#004174 100%);
    background: -ms-linear-gradient(top, #276da3 0%,#004174 100%);
    background: linear-gradient(top, #276da3 0%,#004174 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276da3', endColorstr='#004174',GradientType=0 );
    min-height: 50px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

    .Mp_Hdr a, .Mp_Hdr a:hover {
        text-decoration: none;
    }

    /* Logo */
    .Mp_Hdr .Al {
        float: left;
    }

    /* Search */
    .Mp_Hdr .S {
        float: left;
        height: 30px;
        padding: 7px;
        width: 65%;
    }

        .Mp_Hdr .S input {
            padding-left: 30px !important;
            background: #276da3 url($SearchLense.png$) 3px center no-repeat;
            background-size: 22px 22px;
            border-color: #276da3 !important;
            color: #ffffff !important;
        }

            .Mp_Hdr .S input::-webkit-input-placeholder {
                color: #98b9d3 !important;
            }

            .Mp_Hdr .S input:-moz-placeholder {
                color: #98b9d3 !important;
            }

            .Mp_Hdr .S input::-moz-placeholder {
                color: #98b9d3 !important;
            }

            .Mp_Hdr .S input:-ms-input-placeholder {
                color: #98b9d3 !important;
            }

    /* Global navigation links */
    .Mp_Hdr ul li {
        height: 50px;
        line-height: 50px;
        display: inline-block;
        margin: 0;
        padding: 0;
        float: left;
    }

    .Mp_Hdr .nav {
        width: auto;
    }

        .Mp_Hdr .nav a {
            padding: 0;
            cursor: pointer;
            color: #ffffff;
        }

    .Mp_Hdr ul.nav li {
        font-size: 18px;
    }

        .Mp_Hdr ul.nav li a {
            padding-left: 10px;
            padding-right: 10px;
        }

    .Mp_Hdr ul li:hover, .Mp_Hdr .nav .open {
        background-color: #276da3;
    }

    .Mp_Hdr ul.nav li.dropdown ul {
        z-index: 3000;
    }

    .Mp_Hdr ul.nav > li > a:hover, .Mp_Hdr ul.nav > li > a:focus, .Mp_Hdr .nav .open > a, .Mp_Hdr .nav .open > a:hover, .Mp_Hdr .nav .open > a:focus {
        background-color: transparent;
    }

    .Mp_Hdr ul.nav li img.Icon {
        margin-right: 10px;
    }

    .Mp_Hdr ul.nav li img.Avtr {
        padding: 2px;
        background-color: #ffffff;
        height: 24px;
        width: 24px;
    }

    .Mp_Hdr ul.nav li .glyphicon {
        margin-right: 7px;
    }

/* Bread crumbs */
div.Mp_B {
    padding: 15px 0 0 0;
    text-align: left;
}

    div.Mp_B table {
        width: 100%;
    }

        div.Mp_B table tr td, div.Mp_B a, div.Mp_B a:hover {
            font-size: 11px;
        }

    div.Mp_B span.L {
        font-weight: bold;
        font-size: 16px;
    }

/* Left area */
.Mp_L {
    vertical-align: top;
    padding: 15px 0 110px 0;
    float: left;
}

/* Page content */
.Mp_Pmc {
    padding-top: 15px;
}

/* Main menu */
.Mp_Mm {
    background: none repeat scroll 0 0 #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #ffffff;
    min-height: 35px;
    height: auto;
    margin: 0;
    padding: 0;
}

    .Mp_Mm p.mobile-nav {
        display: none;
        font-size: 18px;
        text-align: center;
        line-height: 42px;
        margin: 0;
        padding: 0;
    }

    .Mp_Mm ul li {
        display: inline-block;
    }

        .Mp_Mm ul li a {
            color: #333333;
            padding: 5px 8px;
            margin: 0 5px 0 0;
            text-decoration: none !important;
            font-weight: bold;
            font-size: 14px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px 4px 4px 4px;
            border: 1px solid transparent;
            line-height: 35px;
        }

            .Mp_Mm ul li a:hover, .Mp_Mm ul li a:focus {
                background-color: #e5e5e5;
                color: #222222;
                border: 1px solid #dcdcdc;
            }

        .Mp_Mm ul li.active a {
            background-color: #39f;
            color: #fff;
            border: 1px solid #39f;
        }

/* Left submenu */
.Mp_Sm a, .Mp_Sm a:hover {
    text-decoration: none;
}

/* Submenu second level item */
ul.Mp_Sm li {
    padding: 5px 0;
    margin: 0;
}

    ul.Mp_Sm li a {
        color: #004174;
        padding: 3px 8px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px 4px 4px 4px;
    }

        ul.Mp_Sm li a:hover {
            background-color: #E9E9E9;
        }

        ul.Mp_Sm li a img {
            padding-right: 5px;
        }

    /* Submenu highlighted item */
    ul.Mp_Sm li.H {
        font-weight: bold;
    }

    /* Submenu selected item */
    ul.Mp_Sm li.S a {
        background-color: #E9E9E9;
    }

/* Submenu first level item */
.Mp_Sm li.F {
    font-size: 15.5px;
    padding-bottom: 5px;
    margin: 15px 0 5px;
    border-bottom: 1px solid #E5E5E5;
}

ul.Mp_Sm li.F a, ul.Mp_Sm li.F a:hover {
    color: #000000;
}

.Mp_Sm li.Fst {
    margin-top: 0;
    padding-top: 0;
}

/* Top submenu */
.Mp_Smt {
    background: none repeat scroll 0 0 #dddddd;
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #c2c2c2;
    min-height: 35px;
    height: auto;
    margin: 0;
    padding: 0;
}

    .Mp_Smt ul li {
        display: inline-block;
    }

        .Mp_Smt ul li a {
            color: #333333;
            padding: 5px 8px;
            margin: 0 5px 0 0;
            text-decoration: none !important;
            font-weight: bold;
            font-size: 14px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px 4px 4px 4px;
            border: 1px solid transparent;
            line-height: 35px;
        }

            .Mp_Smt ul li a:hover, .Mp_Smt ul li a:focus {
                background-color: #f0f0f0;
                color: #222222;
                border: 1px solid #dcdcdc;
            }

        .Mp_Smt ul li.active a {
            background-color: #39f;
            color: #fff;
            border: 1px solid #39f;
        }

/* Mobile view */
@media (max-width: 768px) {
    .Mp_Hdr .S {
        width: 90%;
    }

    .Mp_Hdr .nav.pull-right {
        display: none;
    }

    .Mp_Mm ul, .Mp_Smt {
        display: none;
    }

        .Mp_Mm ul > li, .Mp_Smt ul > li {
            display: block;
            text-align: center;
            padding: 0;
            margin: 0 -20px;
        }

    .Mp_Mm p.mobile-nav {
        display: block;
    }

        .Mp_Mm p.mobile-nav:hover {
            cursor: pointer;
        }
}
