<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UpdatePseudo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <UpdatePseudo.Properties.Settings>
      <setting name="TableName" serializeAs="String">
        <value>TestTable</value>
      </setting>
      <setting name="TableColumnName" serializeAs="String">
        <value>PseudoId</value>
      </setting>
      <setting name="TablePrimaryKeyColumnName" serializeAs="String">
        <value>Id</value>
      </setting>
      <setting name="TopRowsCount" serializeAs="String">
        <value>0</value>
      </setting>
    </UpdatePseudo.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=(local);Initial Catalog=TestDatabase;Persist Security Info=True;Integrated Security=True;Timeout=3600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>