<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Micajah.Common.Properties.Settings.MasterConnectionString" connectionString="Data Source=(local);Initial Catalog=Mc_Master;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="Micajah.Common.Properties.Settings.ClientConnectionString" connectionString="Data Source=(local);Initial Catalog=Mc_Client;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Micajah.Common.Properties.Settings.LogConnectionString" connectionString="Server=tcp:zllql46xaz.database.windows.net,1433;Database=BWA_SherpaDesk_Log;User ID=jvickers@zllql46xaz;Password=Micajah88;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
