<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="ConsoleTestRig.Properties.Settings.LocalAppDBConnectionString"
   connectionString="Data Source=|DataDirectory|\Data\LocalAppDB.sdf"
   providerName="Microsoft.SqlServerCe.Client.3.5" />
 </connectionStrings>
	<appSettings>
		<add key="ServerAddress" value="204.52.223.178"/>
		<add key="Port" value="9393"/>
		<add key="UserName" value="andrey.shvalev"/>
		<add key="Password" value="Loko1936"/>
		<add key="SiteDomain" value="micajah"/>
		<!--Only two Authentication Types are supported: 
			Default - Secure connection with using SSL port
			NonSSL	- Not secure connection using default 389 port
		-->
		<add key="AuthenticationType" value="Default"/>
	</appSettings>
</configuration>
