.Cgv_T
{
    font-family: Sans-Serif;
    line-height: 1.3em;
}

.Cgv_T a
{
    color: #222;
}

.Cgv_T a:hover
{
    color: Blue;
}

tr.Cgv_R, tr.Cgv_Er
{
    background-color: #fff;
}

tr.Cgv_R td, tr.Cgv_Er td
{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tr.Cgv_R:hover, tr.Cgv_Er:hover, tr.Cgv_Sr
{
    background-color: #f2fff3 !important;
}

.Cgv_H th
{
    padding: 5px 8px;
    border-top: 1px solid #60a3d7;
    border-bottom: 1px solid #14619d;
    background-color: #2e7dba;
    text-align: left;
}

.Cgv_H th, td.Cgv_C, .Cgv_Er td, td.Cgv_Ci, td.Cgv_Crbo, td.Cgv_P
{
    font-size: 13px;
    padding: 10px;
    color: #222;
}

.Cgv_H th, .Cgv_H a, .Cgv_H a:hover
{
    font-size: 13px;
    font-weight: bold;
    color: White;
    text-decoration: none;
}

.Cgv_T td.Cgv_C a, .Cgv_T td.Cgv_C.Bold
{
    font-size: 14px;
    font-weight: bold;
    color: #222;
    text-decoration: none;
}

.Cgv_T td.Cgv_C.Number, .Cgv_T td.Cgv_C.Number a
{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.Cgv_T input[type=checkbox], .Cgv_T input[type=radio], .Cgv_T input[type=image]
{
    margin-top: 2px;
}

td.Cgv_Ci
{
    padding: 15px 25px 15px 0;
    border-left: none 0 !important;
}

td.Cgv_Crbo
{
    border-right: none 0 !important;
}

.Cgv_F
{
    background-color: #004174;   
}

.Cgv_F td, .Cgv_F td a, .Cgv_F td a:hover
{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    color: White;
    text-decoration: none;
}

.Cgv_P table
{
    position: relative;
    left: -4px;
}

tr.Cgv_P td
{
    padding: 10px;
}

.Cgv_P td
{
    padding: 0 4px 0 4px;
    font-size: 13px;
    color: #222;
}

tr.Cgv_P td table td
{
    padding: 0 0 0 4px;
    font-size: 13px;
    color: #222;
}

.Cgv_P a, .Cgv_P a:hover, .Cgv_P span
{
    font-size: 13px !important;
    font-family: Sans-Serif;
    margin: 0;
    padding: 6px 8px;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    *display: inline-block;
}

.Cgv_P a
{
    background-color: #ebebeb;
    color: #444444;
}

.Cgv_P a:hover
{
    background-color: #c4c4c4;
    color: #000;
}

.Cgv_P span
{
    background-color: #c4c4c4;
    color: #000;
}

.Cgv_P select, .Cgv_Filter select
{
    padding: 4px !important;
    font: normal 13px/100% Sans-serif !important;
    *vertical-align: inherit;
}

.Cgv_P input[type=text]
{
    font: normal 13px/100% Sans-serif !important;
    padding: 5px 4px !important;
    width: 38px;
}

.Cgv_Cpt, .Cgv_T caption, .Cgv_Search, .Cgv_CptTxt
{
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: #222;
    line-height: 1.231;
}

.Cgv_Cpt, .Cgv_T caption
{
    height: 55px;
}

.Cgv_CptTxt
{
    float: left;
    min-height: 35px;
}

.Cgv_CptCtrls
{
    float: right !important;
    text-align: right;
    font-size: 25px;
    line-height: 1.231;
    min-height: 35px;
}

.Cgv_Cpt
{
    padding-bottom: 13px;
}

.Cgv_CptCtrls a, .Cgv_CptCtrls a:hover
{
    font-size: 11px;
    margin: 0 5px 0 4px !important;
}

.Cgv_CptCtrls .Button, .Cgv_CptCtrls .Button:hover
{
    margin-right: 0 !important;
}

.Cgv_B
{
    padding: 10px;
    text-align: left;
    white-space: nowrap !important;
    width: 1px;
}

.Cgv_B a, .Cgv_B a:hover, .Cgv_B a:focus, .Cgv_T a.Edit, .Cgv_T a.Edit:hover, .Cgv_T a.Edit:focus, .Cgv_T a.Delete, .Cgv_T a.Delete:hover, .Cgv_T a.Delete:focus
{
    margin-right: 15px;
    display: inline-block;
    color: #222 !important;
}

.Cgv_T a.Edit, .Cgv_T a.Edit:hover, .Cgv_T a.Edit:focus
{
    background: transparent url($Gear.png$) no-repeat left center !important;
    padding: 0 0 0 21px !important;
}

.Cgv_T a.Delete, .Cgv_T a.Delete:hover, .Cgv_T a.Delete:focus
{
    background: transparent url($Cross.png$) no-repeat left center !important;
    padding: 0 0 0 21px !important;
}

tr.Cgv_R .Cgv_B a, tr.Cgv_R .Command
{
    visibility: hidden;
}

tr.Cgv_R:hover .Cgv_B a, tr.Cgv_R:hover .Command
{
    visibility: visible;
}

div.Cgv_Hm
{
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #e7e7e7;
    margin-top: -5px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 5px 15px 5px 5px;
    position: absolute;
    height: 18px;
    text-align: center;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    border-radius: 8px 0px 0px 8px;
    z-index: 2002;
}

div.Cgv_Hm a
{
    text-decoration: none;
    font-size: 12px;
    color: #222;
    padding-top: 3px;
    padding-left: 17px;
    background-position: left center;
    background-repeat: no-repeat;
}

.Cgv_Search
{
    float: left;
    width: 320px;
    height: 35px;
    background-repeat: no-repeat;
    background-image: url($Search.png$);
    padding: 0;
    margin: 0;
    position: relative;
}

.Cgv_Search:hover
{
    background-position: 0 -35px;
}

.Cgv_Search input[type=text]
{
    border: 0px !important;
    background-color: transparent;
    position: absolute;
    top: 1px;
    left: 10px;
    width: 255px;
    padding: 9px 0 10px 0 !important;
    border-radius: 0 !important;
    font: 14px/100% Arial;
    color: #999;
}

.Cgv_Search input[type=submit], .Cgv_Search input[type=button]
{
    border: 0px !important;
    background-color: transparent !important;
    position: absolute;
    left: 266px;
    width: 55px;
    height: 35px;
}

.Cgv_Search input[type=submit]:hover, .Cgv_Search input[type=button]:hover
{
    border: 0px !important;
}

.Cgv_Filter
{
    border-top: 1px solid #f7f1c5;
    background-color: #fffad5;
    min-height: 16px;
    line-height: 1.231;
    padding: 5px 10px 5px 10px;
}

.Cgv_Filter a
{
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none !important;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #b08357;
    background-color: #f9d08b;
    color: #633c16;
    box-shadow: inset 0px 1px 1px 0px #fce6b6;
    display: inline-block;
}

.Cgv_Filter a:hover, .Cgv_Filter ul li.DropMenu:hover a
{
    color: #633c16;
    background-color: #ffdea7;
}

.Cgv_Filter a:active, .Cgv_Filter a.Selected
{
    color: #ffffff;
    background-color: #2e7dba;
    border-color: #045f86;
    box-shadow: inset 0px 1px 0px 0px #63a8dd;
}

.Cgv_Filter ul
{
    display: inline;
    *float: left;
}

.Cgv_Filter ul li
{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    *display: block;
}

.Cgv_Filter ul li.DropMenu a
{
    padding-right: 23px;
    background-image: url($DropMenu.png$);
    background-repeat: no-repeat;
    background-position: right center;
    box-shadow: none;
}

.Cgv_Filter ul li.DropMenu ul
{
    position: absolute;
    width: auto;
    min-width: 100px;
    background-color: #f9d08b;
    margin: 30px 0 0 5px;
    border-collapse: separate;
    box-shadow: 0px 0px 4px 0px #666666;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid #ffdea7;
    padding: 4px;
    display: none;
    *margin-top: 28px;
}

.Cgv_Filter ul li.DropMenu:hover ul
{
    display: block;
}

.Cgv_Filter ul li.DropMenu ul:after
{
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 30px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f9d18b transparent;
}

.Cgv_Filter ul li.DropMenu ul li
{
    display: block;
    border-bottom: 1px solid #ffdea7;
}

.Cgv_Filter ul li.DropMenu ul li:last-child
{
    border: none;
}

.Cgv_Filter ul li.DropMenu ul li a
{
    padding: 8px 10px;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0 none !important;
    text-transform: none;
    text-align: left;
    font-size: 12px;
    color: Black !important;
    background-color: #f9d08b !important;
    background-image: none;
    display: block;
}

.Cgv_Filter ul li.DropMenu ul li a:hover, .Cgv_Filter ul li.DropMenu ul li a.Selected
{
    background-color: #ffdea7 !important;
}

.Cgv_Filter .RadComboBox_Modern
{
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.Cgv_Filter .RadComboBox_Modern .rcbInput
{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.Cgv_Filter .RadComboBox_Modern input[type=text], .Cgv_Filter .RadComboBoxDropDown_Modern .rcbItem, .Cgv_Filter .RadComboBoxDropDown_Modern .rcbHovered, .Cgv_Filter .RadComboBoxDropDown_Modern .rcbSeparator
{
    font: normal 13px/100% Sans-serif !important;
}

.Cgv_Filter .RadComboBox_Modern .rcbArrowCellRight
{
    background-position: 0 4px !important;
}

.Cgv_Filter .RadComboBox_Modern .rcbDisabled td.rcbInputCellRight, .Cgv_Filter .RadComboBox_Modern .rcbDisabled td.rcbArrowCellRight, .Cgv_Filter .RadComboBox_Modern .rcbDisabled .rcbReadOnly td.rcbArrowCellRight
{
    background-position: -17px 4px !important;
}
