div.Mc_Settings
{
    padding-bottom: 10px;
    position: relative;
    left: -2px;
}

.Mc_Settings .Nm
{
    color: #3c357a;
    font-size: 12pt;
    font-weight: bold;
}

.Mc_Settings .On
{
    color: Green;
    font-size: 15pt;
    font-weight: bold;
}

.Mc_Settings .Off
{
    color: Red;
    font-size: 15pt;
    font-weight: bold;
}

.Mc_Settings .Rbl
{
    color: Black;
    font-size: 9pt;
    font-weight: normal;
}

.Mc_Settings .Tc1, .Mc_Settings .Tc2
{
    border-top: #dedded 1px solid;
    border-bottom: #dedded 1px solid;
    padding: 5px 12px 5px 12px;
    color: Black;
    font-size: 11px;
}

.Mc_Settings .Tc1
{
    background-color: White;
}

.Mc_Settings .Tc2
{
    background-color: #f7f5ff;
}

.Mc_Settings a.Lm, .Mc_Settings a.Lm:hover
{
    font-size: 11pt;
}

.Mc_Settings a.Ml
{
    margin-left: 23px;
}

/* Overrides DetailMenu styles */
.Mp_Dm td
{
    background-color: #f2f2f2 !important;
    color: Black !important;
}

.Mp_Dm td a, .Mp_Dm td a:hover
{
    font-size: 12pt !important;
}

.Mp_Dm td.D
{
    background-color: #f8f8f8 !important;
    color: #333333 !important;
    font-size: 11px !important;
}
