* {
    -webkit-appearance: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    color: #d4d4d4; /* WebKit browsers */
}

:-moz-placeholder {
    color: #d4d4d4; /* Mozilla Firefox 4 to 18 */
}

::-moz-placeholder {
    color: #d4d4d4; /* Mozilla Firefox 19+ */
}

:-ms-input-placeholder {
    color: #d4d4d4; /* Internet Explorer 10+ */
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

form {
    max-width: 450px;
    margin: 0 auto;
}

label {
    margin: 15px 0 0;
    font-size: .85em;
}

.Error {
    float: left;
    position: relative;
}

select {
    width: 90%;
}

input {
    -webkit-appearance: none;
    width: 90%;
    box-sizing: border-box;
    padding: 12px;
    margin: 0;
    border: 1px solid #a7a7a7;
    border-radius: 5px 5px 5px 5px;
    font-size: 18px;
    padding: 12px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    padding: 10px;
    float: left;
    width: 100%;
    text-align: left;
}

    .row small {
        text-align: left;
        font-size: 11px;
    }

.clear {
    float: none;
    clear: both;
}

span.Title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

div.SectionTitle {
    background-color: #EBEBEB;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #8B8B8B;
    font-family: Arial,Gadget,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 40px 0 30px;
    padding: 10px;
    width: 90%;
    text-align: left;
}

#SignupOrg1_Step2Form .row {
    width: 100%;
}

#SignupOrg1_Step2Form {
    margin-left: auto;
    margin-right: auto;
}

.Logo {
    width: 94%;
    padding-top: 50px;
    text-align: center;
}

.LightBlue {
    background-color: #e9eff5;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    position: relative;
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e9eff5;
    padding: 10px 20px 10px 15px !important;
    font-size: 16px;
    line-height: 48px;
    white-space: nowrap;
}

.LightBlueImg {
    float: left;
    margin-top: 15px;
}

.Left {
    float: left;
}

.Right {
    float: right;
}

.Step2ButtonContainer {
    padding-top: 15px;
    width: 94%;
    clear: both;
}

.Agree {
    padding: 40px 0 50px 0;
    font-family: Calibri, Arial, Sans-Serif;
    font-size: 14px;
    color: #999999;
    text-align: center;
    width: 94%;
}

    .Agree a {
        text-decoration: none;
        font-family: Calibri, Arial, Sans-Serif;
        font-size: 14px;
        font-weight: bold;
        color: #999999;
    }

        .Agree a:hover {
            text-decoration: underline;
        }

span.ErrorMessage.Step3Val {
    padding-top: 15px !important;
    background-position: left 15px !important;
}

small {
    font-size: 10px;
    color: #777;
    display: block;
    text-align: right;
}

.RadCaptcha_Default p {
    display: inline;
}

.RadCaptcha_Default, .RadCaptcha_Default div {
    display: inline;
}

    .RadCaptcha_Default img {
        margin-bottom: 20px;
    }

.Summary {
    text-align: left;
    position: inherit;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 250px;
}

    .Summary ul {
        display: none;
    }

.OrgUrl {
    padding: 0 125px 0 60px;
}

    .OrgUrl input {
        width: 100%;
    }

.modal-window {
    background-color: #ffffff;
    color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

    .modal-window .header {
        border-radius: 10px 10px 0 0;
        margin: -20px -20px 10px;
        padding: 25px 20px 20px 20px;
        color: #fff;
        text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
        background-color: #39f;
    }

        .modal-window .header.bg {
            background-repeat: no-repeat;
            background-position: 10px bottom;
            padding-left: 100px;
        }

    .modal-window h2 {
        margin: 0;
    }

    .modal-window p {
        margin: 0 0 10px;
        font-size: 18px;
    }
