<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="micajah.common" type="Micajah.Common.Configuration.FrameworkConfiguration, Micajah.Common3"/>
    <section name="micajah.common.website" type="Micajah.Common.Configuration.WebsiteConfiguration, Micajah.Common3"/>
    <section name="chargify" type="ChargifyNET.Configuration.ChargifyAccountRetrieverSection"/>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type=""/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="Micajah.Common.Properties.Settings.MasterConnectionString" connectionString="Data Source=(local);Initial Catalog=Mc_Master;Persist Security Info=True;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="support@micajah.com">
        <network host="127.0.0.1" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add verb="GET" path="mc.axd" type="Micajah.Common.Bll.Handlers.ResourceHandler, Micajah.Common3" validate="false"/>
      <add verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResourceSession, Telerik.Web.UI" validate="false"/>
    </httpHandlers>
    <globalization culture="en-US" uiCulture="en-US"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/mc/login.aspx" timeout="11520"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="mits" namespace="Micajah.Common.WebControls" assembly="Micajah.Common3"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <sessionState timeout="20"/>
  </system.web>
  <location path="LogOn.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="LogOn2.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="mc.axd" path="mc.axd" verb="GET" preCondition="integratedMode" type="Micajah.Common.Bll.Handlers.ResourceHandler, Micajah.Common3"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResourceSession, Telerik.Web.UI" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <micajah.common configSource="Micajah.Common.config"/>
  <micajah.common.website>
    <!-- You can put these setting into micajah.common/webApplication if they are constant for all the servers where the application hosted -->
    <customUrl enabled="true" partialCustomUrlRootAddresses="localhost.com" partialCustomUrlReservedAddresses="mail,ftp,www,login" defaultPartialCustomUrl="app" authenticationTicketDomain="localhost.com" dnsAddress="kbapp-atl.bigwebapps.com"/>
    <integration>
      <ldap enabled="true"/>
      <google enabled="true" applicationName="SherpaDesk" clientId="155575437725.apps.googleusercontent.com" clientSecret="3Bbr2F35U969PxMxrBNlWGtF">
        <analyticsCode/>
        <conversionCode/>
      </google>
      <chargify enabled="true"/>
    </integration>
    <viewState connectionStringName="Micajah.Common.Properties.Settings.MasterConnectionString" expirationTimeout="11520" deleteExpiredViewState="true"/>
  </micajah.common.website>
  <chargify defaultAccount="SherpaDesk">
    <accounts>
      <add name="SherpaDesk" site="https://sherpadesk.chargify.com/" apiKey="sylQNccbc30VA74Fm0FH" apiPassword="x" sharedKey="w_EmyxcneGuKkJDl9UJC" productHandle="plan1"/>
    </accounts>
  </chargify>
  <dataCacheClients>
    <dataCacheClient name="default">
      <autoDiscover isEnabled="true" identifier="web.micajah.common"/>
    </dataCacheClient>
  </dataCacheClients>
  <cacheDiagnostics>
    <crashDump dumpLevel="Off" dumpStorageQuotaInMB="100"/>
  </cacheDiagnostics>
</configuration>