<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="micajah.common" type="Micajah.Common.Configuration.FrameworkConfiguration, Micajah.Common3"/>
    <section name="micajah.common.website" type="Micajah.Common.Configuration.WebsiteConfiguration, Micajah.Common3"/>
  </configSections>
  <connectionStrings>
    <add name="Micajah.Common.ConnectionString" connectionString="Data Source=(local);Initial Catalog=Mc_Master;Persist Security Info=True;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="support@micajah.com">
        <network host="mari-el.ru" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="mc.axd" type="Micajah.Common.Bll.Handlers.ResourceHandler, Micajah.Common3" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <globalization culture="en-US" uiCulture="en-US"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/mc/login.aspx" timeout="11520"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="mits" namespace="Micajah.Common.WebControls" assembly="Micajah.Common3"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <sessionState timeout="20"/>
  </system.web>
  <location path="LogOn.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="LogOn2.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="mc.axd" path="mc.axd" verb="GET" preCondition="integratedMode" type="Micajah.Common.Bll.Handlers.ResourceHandler, Micajah.Common3"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
    </handlers>
  </system.webServer>
  <micajah.common configSource="Micajah.Common.config"/>
  <micajah.common.website>
    <customUrl enabled="true" partialCustomUrlRootAddresses="localhost.com" partialCustomUrlReservedAddresses="mail,ftp,www,login" defaultPartialCustomUrl="app" authenticationTicketDomain="localhost.com"/>
  </micajah.common.website>
</configuration>