/* ------------ Detail menu ------------------------------------------------------------------------------------------------------------------------------------*/
table.Mp_Dm {
    position: relative;
    left: -5px;
    background-color: White;
    border-spacing: 5px;
    border-collapse: separate;
}

    table.Mp_Dm a, table.Mp_Dm a:hover {
        font-size: 16px;
        text-decoration: underline;
    }

    table.Mp_Dm td {
        vertical-align: middle;
        text-align: left;
    }

        table.Mp_Dm td div {
            padding: 10px 5px 10px 5px;
        }

            table.Mp_Dm td div div {
                padding: 5px 0 0 0;
                font-size: 12px;
            }

        table.Mp_Dm td td.P {
            padding: 0 5px 0 0;
        }

p.Mp_Dm_T {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

/* ------------ Detail menu group ------------ */
table.Mp_Dm td.G div {
    padding-left: 0;
}

    table.Mp_Dm td.G div div {
        color: #898989;
    }

table.Mp_Dm td.G span {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

/* ------------ Detail menu item ------------ */
table.Mp_Dm td.I {
    border: 1px solid White;
    cursor: pointer;
    height: 68px;
}

    table.Mp_Dm td.I div div {
        color: #898989;
    }

    table.Mp_Dm td.I a, table.Mp_Dm td.I a:hover {
        color: #3c6fb1;
    }

/* ------------ Detail menu alternated item ------------ */
table.Mp_Dm td.A {
    border: 1px solid White;
    cursor: pointer;
    height: 68px;
}

    table.Mp_Dm td.A div div {
        color: #898989;
    }

    table.Mp_Dm td.A a, table.Mp_Dm td.A a:hover {
        color: #3c6fb1;
    }

/* ------------ Detail menu highlighted item ------------ */
table.Mp_Dm td.H {
    border: solid 1px #f9dba5;
    background-color: #ffedc5;
    cursor: pointer;
    height: 68px;
}

    table.Mp_Dm td.H div div {
        color: #898989;
    }

    table.Mp_Dm td.H a, table.Mp_Dm td.H a:hover {
        font-weight: bold;
        color: #333333;
    }

    /* ------------ Detail menu hovered item ------------ */
    table.Mp_Dm td.I:hover, table.Mp_Dm td.A:hover, table.Mp_Dm td.H:hover, table.Mp_Dm td.hover {
        border: solid 1px #daf2fc !important;
        background-color: #ecf8ff;
    }

/* ------------ Detail menu child item ------------ */
table.Mp_Dm div.C {
    padding: 5px 0 0 0;
}

    table.Mp_Dm div.C a, table.Mp_Dm div.C a:hover {
        font-size: 12px;
        font-weight: normal;
    }

/* ------------ Other links ------------ */
table.Mp_Om a {
    font-size: 11px;
    color: Gray;
}

    table.Mp_Om a:hover {
        font-size: 11px;
        color: #333333;
    }
